<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwYEPBP-SqNfluCdCb-PrIj-9Z229at3g</string>
	<key>GCM_SENDER_ID</key>
	<string>971935809948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vanishLink</string>
	<key>PROJECT_ID</key>
	<string>vanishlink-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vanishlink-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971935809948:ios:38223b6f0bd27ed9bec859</string>
	<key>DATABASE_URL</key>
	<string>https://vanishlink-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>